.admin-slide-bar {
  background-color: $color-admin-slide-bar;
  height: 100%;
  min-height: 100vh;

  ul {
    li {
      @include ml-mr(15px, 0);
      @include pt-pb(20px, 0);

      .active {
        color: $color-black;
        font-weight: bold;
      }

      a {
        color: $color-white;
      }
    }
  }
}
