.admin-users-management,
.admin-revenue-management,
.admin-movies-management,
.admin-tickets-management {
  display: flex;
  justify-content: center;

  button {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  table {
    width: 90%;
    @include mt-mb(20px, 0);
    border-collapse: collapse;

    tr {
      th {
        background-color: $color-admin-slide-bar;
        @include pt-pb(10px, 10px);
        @include pl-pr(10px, 10px);
        border: 1px solid $color-black;
        color: $color-white;
      }

      td {
        @include pt-pb(10px, 10px);
        text-align: center;
        border: 1px solid $color-black;

        img {
          width: 80px;
          height: 60px;
          @include pl-pr(10px, 10px);
          object-fit: cover;
          border-radius: 50%;
        }

        .admin-action {
          display: flex;
          justify-content: space-around;

          &--edit {
            color: $color-btn-warning;
            border-color: $color-btn-warning;
          }

          &--remove {
            color: $color-btn-danger;
            border-color: $color-btn-danger;
          }
        }
      }
    }
  }
}

.admin-users-management,
.admin-movies-management {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__add-user,
  &__add-movie {
    @include mt-mb(15px, 0);
    color: $color-btn-primary;
    border-color: $color-btn-primary !important;

    &:hover {
      color: $color-btn-primary;
    }
  }
}

.admin-user-add-edit,
.admin-movie-add-edit {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    width: 30%;

    label {
      @include mt-mb(15px, 0);
    }

    input,
    select {
      height: 30px;
      @include pl-pr(10px, 10px);
      border: 1px solid $color-black;
      @include mt-mb(15px, 0);
    }

    .submit {
      @include mt-mb(30px, 0);
      color: $color-white;
    }
  }
}
