.blog {
	padding-bottom: 100px;
	&__grid {
		@include grid(1fr 1fr);
	}
	&__poster {
		width: 250px;
		float: left;
	}
	&__content {
		width: calc(100% - 250px);
		overflow: hidden;
		padding: 10px 0 0 20px;
	}
	&__title {
		margin-bottom: 15px;
		a {
			font-size: $font-size-big;
		}
	}
}
