.topbar {
  background-color: #000;
  padding: 10px 0;
  &__flex {
    @include flex($wrap: nowrap);
  }
  &__search {
    &--form {
      position: relative;
    }
    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      top: 0;
      right: 0;
      padding: 0;
      position: absolute;
      i {
        color: $color-white;
      }
    }
    input {
      width: 100%;
      min-width: 250px;
      border-radius: 25px;
      padding: 0 40px 0 15px;
    }
  }
  &__dkris {
    display: flex;
  }
  &__language {
    margin-left: 20px;

    button {
      color: $color-white;
      padding-left: 6px;
      margin-left: 3px;
      border-left: 1px solid #fff;
      background-color: transparent;

      &:first-child {
        border: none;
      }
    }
  }
  &__lr {
    a {
      font-size: 16px;
      color: #fff;
      padding: 10px 20px;
      position: relative;
      border-radius: 36px;
      margin-left: 15px;
      border: 1px solid #fff;
      i {
        margin-right: 10px;
      }
      &:hover {
        color: $color-white;
        background-color: #fe7900;
        border: 1px solid #fe7900;
      }
    }
  }
}
