* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: Verdana;
  font-size: $font-size-primary;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
}

button {
  @include pt-pb(5px, 5px);
  @include pl-pr(10px, 10px);
  border: 1px solid $color-black;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    background-color: $color-grey;
  }
}
