$font-size-primary: 14px;

$color-admin-slide-bar: #fe7900;
$color-white: white;
$color-black: black;
$color-grey: grey;
$color-btn-primary: #007bff;
$color-btn-warning: #ffc107;
$color-btn-danger: #dc3545;
$color-btn-info: #17a2b8;
