$font-size-primary: 14px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-larger: 16px;

$font-weight3: 300;
$font-weight4: 400;
$font-weight5: 500;
$font-weight6: 600;
$font-weight7: 700;

$color-admin-slide-bar: #fe7900;
$color-white: white;
$color-black: black;
$color-grey: grey;
$color-btn-primary: #007bff;
$color-btn-warning: #ffc107;
$color-btn-danger: #dc3545;
$color-btn-info: #17a2b8;
$color-main: #fe7900;

$bg-main: #fe7900;
$bg-white: #fff;
$bg-black: #000;
