table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.buy-ticket {
  padding-bottom: 100px;
  &__grid {
    @include grid(3fr 1fr);
  }
  &__table {
    font-size: $font-size-medium;
    width: 100%;
    margin-bottom: 0;
    background-color: $color-white;
    tbody tr {
      background-color: $color-table-tr;
    }
    tbody tr td:first-child {
      width: 40%;
    }
    thead {
      background-color: $color-cma-name;
      color: $color-white;
      tr th {
        &:first-child {
          text-align: left;
        }

        text-align: right;
        border-bottom: none;
        vertical-align: bottom;
      }
    }
    tbody tr {
      td {
        &:first-child {
          text-align: left;
        }
        border-top: none;
        text-align: right;
        vertical-align: middle;
        padding: 10px;
      }
      th {
        padding: 10px;
      }
    }
    tfoot tr {
      td,
      th {
        padding: 10px;
      }
    }
    thead tr {
      td {
        padding: 10px;
      }
      th {
        padding: 10px;

        &:nth-child(2) {
          text-align: center;
        }
      }
    }
    .total td {
      font-size: $font-size-larger;
      font-weight: $font-weight6;
      color: $color-table-total;
    }
  }
}

.buy-ticket {
  &__combo {
    overflow: hidden;
  }
  &__feature {
    width: 100px;
    float: left;
    margin-right: 20px;
  }
  &__content {
    overflow: hidden;
  }
  &__booking {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 60px;
      margin: 0 10px;
      text-align: center;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
.btn-addminus {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: $color-white;
  border-radius: 50%;
  padding: 0;
  display: inline-block;
  background-color: $color-btn-addminus;
}

.ticket-movie {
  &__wrap {
    padding: 10px;
    background-color: $color-movie-box;
  }
  &__title {
    color: $color-black;
    margin-right: 5px;
    font-weight: $font-weight6;
  }
  &__feature {
    margin-bottom: 20px;
  }
  &__movie-name {
    font-size: 15px;
    font-weight: $font-weight7;
    color: $color-black;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__info {
    li {
      font-size: 13px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px dotted $color-table-info;

      &:last-child {
        border: none;
      }
    }
  }
  &__button a {
    width: 100%;
    color: $color-white;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    background-color: $color-main;
  }
}
