.login {
  &__wrap {
    border: 1px solid $bg-main;
    @include ml-mr(30%, 30%);
    @include mt-mb(50px, 0);
    background-color: $color-white;
    position: relative;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  }

  &__inner {
    padding: 30px;
  }

  &__name {
    font-size: 24px;
    line-height: 36px;
    font-weight: $font-weight7;
    color: $color-main;
    text-align: center;
    margin-bottom: 20px;
  }

  &__form {
    margin-bottom: 20px;
    input {
      margin-bottom: 15px;
    }
    button {
      color: $color-white;
      width: 100%;
      padding: 15px 20px;

      &:last-of-type {
        @include mt-mb(15px, 0);

        a {
          color: $color-white;
        }
      }
    }
  }
}
