.list-movie {
  padding-bottom: 100px;
  &__grid {
    @include grid(1fr 1fr 1fr 1fr);
  }
  &__box {
    padding-bottom: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    border-bottom: 1px solid $color-movie-box;
    &:last-child {
      padding: 0;
      margin: 0;
      border: none;
    }
  }
  &__poster {
    width: 250px;
    float: left;
  }
  &__content {
    width: calc(100% - 250px);
    overflow: hidden;
    padding: 0 0 15px 30px;
  }
  &__title {
    margin-bottom: 5px;
    a {
      font-size: $font-size-big;
      font-weight: $font-weight7;
    }
  }
  &__rating {
    margin-bottom: 10px;
    span {
      margin-right: 10px;
    }
    &--icon {
      color: $color-rating;
      i {
        letter-spacing: 4px;
      }
    }
  }
  &__time {
    color: #fe7900;
    margin-bottom: 20px;
    &--slot {
      padding: 5px 10px;
      display: inline-block;
      color: #fff;
      background-color: #fe7900;
      margin-right: 8px;
    }
    &--icon {
      margin-right: 5px;
    }
  }
  &__description {
    margin-bottom: 15px;
    padding-right: 40px;
  }
  &__info {
    font-size: 13px;
    margin-bottom: 10px;
    label {
      color: #999999;
      margin-right: 4px;
    }
    .text {
      color: #000;
    }
  }
  &__button {
    margin-top: 20px;
    a {
      position: relative;
      padding-left: 30px;
      margin-right: 20px;
      font-weight: $font-weight6;
      &:before {
        content: "\f04b";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: absolute;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        display: inline-block;
        font-family: "Fontawesome";
        background-color: #fe7900;
      }
    }
  }
}
.list-movie__button .list-movie__det:before {
  content: "\f129";
}
