.register {
	&__wrap {
		max-width: 520px;
		background-color: $color-white;
		position: relative;
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
	}

	&__inner {
		padding: 30px;
	}

	&__name {
		font-size: 24px;
		line-height: 36px;
		font-weight: $font-weight7;
		color: $color-main;
		text-align: center;
		margin-bottom: 20px;
	}

	&__form {
		input,
		select {
			margin-bottom: 15px;
		}

		button {
			color: $color-white;
			width: 100%;
			padding: 15px 20px;
		}
	}
}
